@{
    ViewData["Title"] = "Error";
}

<h2>ERROR!</h2>

<div>
    <h3>You are not allowed to remove this movie because it has one or 
    more reviews!</h3>
</div>
<div>
    <a asp-action="Index">Back to Movie List</a>
</div>