@model MvcMovie.Models.MovieDetailModel 

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h2>Details</h2>
    
    @{Html.RenderPartial("MoviePartial", Model.movie);}
    @{ Html.RenderPartial("ReviewPartial", Model.reviews); }

<div>
    @Html.ActionLink("Add a review", "Create", "Reviews", new { id = Model.movie.ID }, new { @class = "btn btn-info" })
</div>
