@model MvcMovie.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReviewID" />
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <textarea asp-for="Detail" class="form-control" rows="5" cols="40"></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MovieID" />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
                @Html.ActionLink("Back to Movie", "Details", "Movies", new { id = Model.MovieID }, new { @class = "btn btn-default" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}