@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The MVC Movie App</p>

<p>Based on the tutorial: <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/" target="_blank">Create a web app with ASP.NET Core MVC using Visual Studio</a></p>

