@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Stockton University <br />
   Galloway, New Jersey 08205
</address>

<address>
    <strong>Support:</strong><a href=" mailto:mahmuds@go.stockton.edu">mahmuds@go.stockton.edu</a></br>
</address>

