@{
    ViewData["Title"] = "Home Page";
}

<<div>
    <h2>Welcome to the Movies Application. Get started now!</h2> 
    <a asp-controller="Movies" asp-action="Index" class="="btn-btn-success">Reveal Movies</a>
</div>
